version: '3.9'

services:
  postgres:
    image: postgres:17
    container_name: kpi-postgres
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  backend:
    build: ./kpi-energy-backend
    container_name: kpi-backend
    ports:
      - "8082:8081"
    env_file:
      - .env
    depends_on:
      - postgres

  ml-service:
    build: ./kpi-energy-backend/ml-service
    container_name: ml-service
    ports:
      - "5000:5000"
    depends_on:
      - backend

  frontend:
    build: ./kpi-energy-frontend
    container_name: kpi-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
      - ml-service

volumes:
  postgres-data:
