<div class="form-container">
  <form [formGroup]="waterForm" (ngSubmit)="onSubmit()">
    <label>Année:
      <input type="number" formControlName="year" min="2000" max="2100">
    </label>

    <label>Mois:
      <select formControlName="month">
        <option *ngFor="let m of [1,2,3,4,5,6,7,8,9,10,11,12]" [value]="m">{{ m }}</option>
      </select>
    </label>

    <fieldset>
      <legend>Données de production d'eau</legend>
      <label>F3BIS:
        <input type="number" formControlName="f3bis" min="0" step="any">
      </label>
      <label>F3:
        <input type="number" formControlName="f3" min="0" step="any">
      </label>
      <label>SE2:
        <input type="number" formControlName="se2" min="0" step="any">
      </label>
      <label>SE3BIS:
        <input type="number" formControlName="se3bis" min="0" step="any">
      </label>
    </fieldset>

    <button type="submit" [disabled]="waterForm.invalid">Enregistrer</button>
  </form>

  <div *ngIf="message" class="message">
    {{ message }}
  </div>
</div>
